#project-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

#project-page-header h1 {
    font-family: "Helvetica Neue"; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 24px;
    letter-spacing: 1px;
    color: rgb(174, 179, 181);
    margin: 2% auto 0 auto;
}

#header-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    width: 180px;
    height: 180px;
}

#header-image-container img {
    width: 100%;
    height: auto;  
}