
@media (min-width:320px) { /* Smartphones */
    
    #content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-top: 8%;
    }

    #content-container h1 {
        font-family: "Helvetica Neue"; 
        font-size: 22px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        line-height: 24px;
        letter-spacing: 1px;
        color: rgb(174, 179, 181);
        margin-left: 2%;

    }

    #inner-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }



}
@media (min-width:768px) { /* Tablets */ 

}

@media (min-width:992px) { /* Laptops ++ */ 

}